.background {
    background-image: linear-gradient(140deg, rgb(207, 47, 152), rgb(106, 61, 236));
    border-radius: 10px;
    overflow: hidden;
    
    .animation {
        padding: 20px;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.8);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        position: relative;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;

        &:before,
        &:after {
            content: '';
            position: absolute;
            top: 0;
            width: 50px;
            height: 100%;
            background-image: linear-gradient(140deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.2));
            background-repeat: repeat;
            transform: skewX(-20deg);
            animation-duration: 1s;
        }

        &:before {
            left: 75%;
            animation-name: moveBefore;
        }

        &:after {
            right: 75%;
            animation-name: moveAfter;
        }

        .container {
            z-index: 1;

            >* {
                background-color: azure;
                padding: 20px;
                border: solid 1px black;
                border-radius: 10px;
    
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}

@keyframes moveBefore {
    from {
        left: 0%;
    }
    to {
        left: 75%;
    }
}

@keyframes moveAfter {
    from {
        right: 0%;
    }
    to {
        right: 75%;
    }
}