.layout {
    height: 100vh;

    .test {
        display: flex;
        flex-direction: column;
        
        .content {
            flex-grow: 1;
        }
    }

    .footer {
        text-align: center;
    }
}