.container {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.33s linear;

    &:hover {
        background-color: rgba(229, 224, 216, 0.507);
        cursor: pointer;
    }

    .button {
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;

        .loginIcon {
            padding: 10px;
        }
    }

    .textInput {
        width: 0;
        border: none;
        transition: all 0.5s ease-in-out;

        &.display {
            width: 210px;
            border: 1px solid #ccc;
        }
    }
}