.container {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .formWrapper {
        // padding: 20px;
        z-index: 2;

        -webkit-text-size-adjust: 100%;
        tab-size: 4;
        font-feature-settings: normal;
        font-variation-settings: normal;
        line-height: inherit;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
        -webkit-font-smoothing: antialiased;
        text-align: center;
        box-sizing: border-box;
        border-style: solid;
        border-color: #ffffff;
        --tw-backdrop-brightness: ;
        --tw-backdrop-contrast: ;
        --tw-backdrop-grayscale: ;
        --tw-backdrop-hue-rotate: ;
        --tw-backdrop-invert: ;
        --tw-backdrop-opacity: ;
        --tw-backdrop-saturate: ;
        --tw-backdrop-sepia: ;
        max-width: 1536px;
        position: relative;
        border-radius: 1rem;
        border-width:2px;
        border-bottom-width: 0px;
        border-right-width: 0px;
        --tw-bg-opacity: 0.4;
        background-color: rgb(144 144 144 / var(--tw-bg-opacity));
        --tw-backdrop-blur: blur(8px);
        backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);

        .formContainer {
            margin: 20px;
            -webkit-text-size-adjust: 100%;
            tab-size: 4;
            font-feature-settings: normal;
            font-variation-settings: normal;
            line-height: inherit;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
            'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
            sans-serif;
            -webkit-font-smoothing: antialiased;
            text-align: center;
            box-sizing: border-box;
            border-width: 0;
            border-style: solid;
            border-color: #e5e7eb;
            display: flex;
            height: 100%;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
        }
    }

    .backgroundContainer {
        z-index: 1;
        position: absolute;
        width: 100%;
        height: 100%;

        display: flex;
        flex-wrap: wrap;
        align-items: center;

        >* {
            width: 100%;
        }
    }
}